body
{
    background-color: #ADBFCF;
}

.sortable, .sortable.th, .sortable.td
{
    width: 100%;
    text-align: center;
    border: solid black 1px;
}

.univ
{
    text-align: bottom;
}

.di
{
    text-align: right;
}

.pager
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #3A4476;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #AAAAAA;
    background-color: #EFEFEF;
    width: 80%;
}

div.connexion
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #3A4476;
    margin: 0px;
    padding: 10px;
    box-shadow: 5px 5px 5px #AAAAAA;
    background-color: #EFEFEF;
    width: 20%;
    height: 100px;
}

.logos
{
    width: 100%;
}

div.bandeau
{
    display: table-cell;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #3A4476;
    margin: 0px;
    padding: 10px;
    box-shadow: 5px 5px 5px #AAAAAA;
    background-color: #EFEFEF;
    width: 100%;
}

.titre
{
    text-align: center;
}

.violet
{
    color: #371951;
}

.cadre
{
    display:flex;
    padding: 20px;
}

button
{
    width: 80%;
    margin-left: 10%;
    height: 100%;
}

button.connexion
{
    width: 40%;
    margin-left: 30%;
}

.formulaire
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #3A4476;
    margin: 0px;
    padding: 10px;
    box-shadow: 5px 5px 5px #AAAAAA;
    background-color: #EFEFEF;
    width: 70%;
    margin-left: 15%;
}

label
{
    width: 25%;
    margin-left: 25%;
}

input
{
    width: 25%;
    margin-right: 25%;
}